{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Hi, I'm <strong>{{ .Site.Params.author }}</strong>, a fourth-year pre-med student at the University of Texas at Austin.</h3>
        <h3>I am currently pursuing a BSA in Biology with a Minor in Business.</h3>
        <h3>Here is a list of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more info, have a look at my academic &amp; professional <a href="/353f1712-1fac-11ea-a5fd-0cc47a792c0a_id_353f1712-1fac-11ea-a5fd-0cc47a792c0a.html">resume</a>.</h3>
        <h3>Contact me by phone at 713-245-9010 or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
